02_Program/02_Unity/New Unity Project/.vs/New Unity Project/v15/.suo
02_Program/02_Unity/New Unity Project/.vs/New Unity Project/v15/Server/sqlite3/storage.ide-shm
02_Program/02_Unity/New Unity Project/.vs/New Unity Project/v15/Server/sqlite3/storage.ide-wal
02_Program/02_Unity/New Unity Project/Library/CurrentLayout.dwlt
02_Program/02_Unity/New Unity Project/Library/assetDatabase3
02_Program/02_Unity/New Unity Project/Library/expandedItems
02_Program/02_Unity/New Unity Project/Library/shadercompiler-UnityShaderCompiler.exe0.log
02_Program/02_Unity/New Unity Project/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
02_Program/02_Unity/New Unity Project/Library/metadata/4c/4ccb49676687917499386abab8234bd6
02_Program/02_Unity/New Unity Project/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
02_Program/02_Unity/New Unity Project/Assembly-CSharp.csproj
